html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

nav {
    height: 4em;
    background-color: #555;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
}

body {
    display: flex;
    font-family: "Helvetica Neue", Arial, sans-serif;
    flex-direction: column;
}

main {
    display: flex;
    flex: 1 0 auto;
    background-color: #e3e3e3;
    justify-content: center;
    align-items: center;
}

.grid {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    height: 4em;
    width: 4em;
    background-color: #555555;
    margin: 0.35em;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}

.cancel {
    font-size: 3em !important;
    margin-left: 0.5em !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

.select_row {
    font-size: 3em !important;
    margin-right: 0.5em !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.word_list {
    padding: 1em 2em;
    background-color: #f9f9f9;
    overflow-y: auto;
    max-height: 50vh;
    border-radius: 3px;
    width: 7em;
    margin-left: 4em;
}

#possible_answers {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*.hidden{*/
/*    display: none;*/
/*}*/

/*.visible {*/
/*    display: flex !important;*/
/*}*/